<!DOCTYPE html>

<html> 
<head>
	<title>All Employees</title>
	<style>
        table.table-hover tbody tr:hover{
	           background-color: #007Bff ;
        }
     </style>
</head>
<body>
	<h2>All Employees Page</h2>
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Departement</th>
                <th>Job</th>
                <th>Birth Date</th>
                <th>Email</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Employee emp in Model)
			{
			 <tr>
			   <td> @emp.EmployeeName </td>
			   <td> @emp.Departement </td>
               <td>@emp.JobTitle</td>
               <td>@emp.BirthDate.ToShortDateString()</td>
               <td>@emp.EmailAddress</td>
			</tr>
             }
        </tbody>
  </table>

</body>

</html>